@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg_color: #fffff7;
  --btn-color-red: #bf1c1c;
}

body {
  min-height: 100vh;
  background-color: var(--bg_color);
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 3rem;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

main {
  display: grid;
  place-items: center;
}

.player-control {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}
.player-control__player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.player-control__title {
  font-size: 2.5rem;
  font-weight: bold;
}
.player-control__person {
  font-size: 2.5rem;
}
.player-control select {
  background-color: var(--btn-color-red);
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#startBtn {
  background-color: #fff;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

footer {
  padding: 2rem;
  font-weight: bold;
  color: var(--btn-color-red);
}
footer a,
footer a:active,
footer a:visited {
  text-decoration: none;
  color: inherit;
}

.board {
  --size: 50vh;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.board .cell {
  cursor: pointer;
}
.board .cell--x::before, .board .cell--o::before {
  content: "X";
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: bolder;
}
.board .cell--o::before {
  content: "O";
}
.board .cell:nth-child(3n+1) {
  border-right: 2px solid #000;
}
.board .cell:nth-child(3n+2) {
  border-right: 2px solid #000;
}
.board .cell:nth-child(1),
.board .cell:nth-child(2),
.board .cell:nth-child(3) {
  border-bottom: 2px solid #000;
}
.board .cell:nth-child(4),
.board .cell:nth-child(5),
.board .cell:nth-child(6) {
  border-bottom: 2px solid #000;
}
.board.x-turn .cell:not(.cell--x):not(.cell--o):hover::before, .board.o-turn .cell:not(.cell--x):not(.cell--o):hover::before {
  content: "X";
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: bolder;
  opacity: 0.6;
}
.board.o-turn .cell:not(.cell--x):not(.cell--o):hover::before {
  content: "O";
}

.result__box {
  width: 650px;
  height: 500px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.result h2 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 6rem;
}
.result button {
  font-weight: bolder;
  text-transform: uppercase;
  color: #FFF;
  background-color: var(--btn-color-red);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown_flex {
  display: flex;
}

.shown {
  display: block;
}/*# sourceMappingURL=style.css.map */