@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg_color: #fffff7;
  --btn-color-red: #bf1c1c;
}

body {
  min-height: 100vh;
  background-color: var(--bg_color);
  text-align: center;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 3rem;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

main {
  display: grid;
  place-items: center;
}

.player-control {
  display: flex;
  justify-content: space-around;
  gap: 10rem;

  &__player {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__person {
    font-size: 2.5rem;
  }

  select {
    background-color: var(--btn-color-red);
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

#startBtn {
  background-color: #fff;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

footer {
  padding: 2rem;
  font-weight: bold;
  color: var(--btn-color-red);

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.hidden {
  display: none;
}

.shown_flex {
  display: flex;
}

.shown {
  display: block;
}
